body {
	overflow: hidden;
	width: 100%;
    background: white;
}

.ignoreCanvas {
	display: none;
}

/* Changed some canvas name variables
   imageDelta => imageTmp
   imageTmp   => imageDelta
 */

/*
#mainCanvas {
	cursor: crosshair;
}

*/

/* #imageTmp { */
#imageDelta {
	cursor: crosshair;
	position: absolute;
	left: 1px;
	top: 1px;
}

#mainCanvas {
/* #imageDelta { */
    cursor: crosshair;
    position: absolute;
	left: 1px;
	top: 1px;
}

#canvasContainer {
	position: relative;
    top: 0px;
    left: 0px;
	/*margin: 10px;
	box-shadow: 0px 0px 10px #333333;
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
    background: url("../img/trans.png"); */
    background: white;
	width: 1024px;
	border: 1px solid #999999;

}

#toolbar {
    position: fixed;
    top: 10px;
    right:-155px;
    width:150px;
    background: #7080D7; /*#4A60D7;*/
    padding: 2px;
    padding-bottom: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow:hidden;
}

#buttons {
    position: relative;
    display: block;
    margin-left: 2px;
    margin-top: 2px;
}

#brushes {
    position: relative;
    display: block;
    margin-left: 12px;
    margin-top: 5px;
}

#showHide {
    position:fixed; 
    bottom: 0px;
    right: 0px;
    width: 28px;
    padding: 2px;
    padding-top:1px;
    /*background: #7080d7;*/
    background:white;
}

#pencil {
    background: url("../img/brush.png") -15px -10px;
}
#line {
    background: url("../img/brush.png") -63px -8px;
}
#rectangle {
    background: url("../img/brush.png") -14px -53px;
}
#circle {
    background: url("../img/brush.png") -61px -53px;
}
#eraser {
    background: url("../img/brush.png") -112px -10px;
}

#show {
    background: url("../img/brush.png") -114px -56px;
    display: none;
}
#hide {
    background: url("../img/brush.png") -158px -57px;
    display: none;
    
}

#colors {
    position: relative;
    display: block;
    margin-left: 15px;
    margin-top: 10px;

}

#sliders {
    position: relative;
    top: 150px;
    right: 0px;
    display: block;
    margin-top: 10px;
    width:150px;
    background: #7080D7;
}

#sliders p {
    margin-top: 10px;
    font-size: 12px;
    color: black;
    font-family: 'Arial', san-serif;
    font-weight:bold;
}

#topSlider {
    position: absolute;
    top: 16px;
    right: -3px;
    width:150px;
    background: #7080D7;
    padding-left: 5px;
}

#bottomSlider {
    position: absolute;
    top: 57px;
    right: -3px;
    width:150px;
    background: #7080D7;
    padding-left:5px;
    padding-bottom: 5px;
}

#view {
    position: relative;
    display: block;
    margin-top: 270px;
    margin-bottom: 10px;
    margin-left: 50px;
    height: 50px;
    width: 50px;
    -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    background: #f6f6f6;
    border: 1px solid #dcdcdc;
    -moz-box-shadow:inset 0px 0px 0px 1px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 1px #ffffff;
	box-shadow:inset 0px 0px 0px 1px #ffffff;
}

#littleCanvas {
    position:absolute;
    top: 3px;
    left: 3px;
    -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}




.brush {
    border: 1px solid #dcdcdc;
    -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    -moz-box-shadow:inset 0px 0px 0px 1px #f6f6f6;
	-webkit-box-shadow:inset 0px 0px 0px 1px #f6f6f6;
	box-shadow:inset 0px 0px 0px 1px #f6f6f6;
    width: 30px;
    margin: 5px;
    height: 30px;
    float: left;  
}

.brush:hover {
    border: 1px solid #666666;
    box-shadow: 0px 0px 1px #333333;
    -moz-box-shadow: 0px 0px 1px #333333;
    -webkit-box-shadow: 0px 0px 1px #333333;
}

.color {
    width: 22px;
    background: red;
    margin: 3px;
    height: 22px;
    float: left;  
    -moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
    border: 1px solid #666666;
    
    
}

.color:hover, .current {
    border: 1px solid black;
    box-shadow: 0px 0px 2px #333333;
    -moz-box-shadow: 0px 0px 2px #333333;
    -webkit-box-shadow: 0px 0px 2px #333333;
}

.selected {
    border: 1px solid black;
    box-shadow: 0px 0px 2px #333333;
    -moz-box-shadow: 0px 0px 2px #333333;
    -webkit-box-shadow: 0px 0px 2px #333333;
}

.button {
    border: 1px solid #dcdcdc;
    -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    -moz-box-shadow:inset 0px 0px 0px 1px #f6f6f6;
	-webkit-box-shadow:inset 0px 0px 0px 1px #f6f6f6;
	box-shadow:inset 0px 0px 0px 1px #f6f6f6;
    width: 20px;
    margin: 2px;
    margin-bottom:3px;
    height: 20px;
    float: left;  
}

.button:hover {
    border: 1px solid #666666;
    box-shadow: 0px 0px 1px #333333;
    -moz-box-shadow: 0px 0px 1px #333333;
    -webkit-box-shadow: 0px 0px 1px #333333;
}

